/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family:'plain light';
    src: url(plain-light-webfont.ttf);
}
@font-face {
    font-family:'plain light';
    src: url(plain-regular-webfont.ttf);
}
@font-face {
    font-family:'silk serif';
    src: url(silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family:'silk serif';
    src: url(silkserif-lightitalic-webfont.ttf);
}


*{
    margin: 0;padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family:'plain light';
     color:#fff;
}
body,html{
         height: 100%;
         width: 100%;
        
}
body{
    overflow-x:hidden;
}
.mousefollower{
    border:2px solid #fff;
    background-color:rgb(255,255,255);
    scale:2;
    mix-blend-mode:difference;
}
#loader{
    height: 100%;
    line-height: 8vw;
    width: 100%;position:fixed;
    z-index:999;
    background-color: #0B0B0B;
    padding:25vh 10vw;
}
.line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    overflow: hidden;
    gap:3vw;
}
#line1-part1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    gap:1vw;  
}
.line h2{
    font-size:5.2vw;
    font-weight: 900;
    opacity:0;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count:infinite;
            animation-iteration-count:infinite;
}

#line1-part1 h5,#line1-part1 h6{
    font-size:3vw;
    font-weight: 100;
    font-family:"silk serif";
}
#line1-part1 h5{
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    width: 5vw;
}

.line h1{
     font-size:5vw;
     text-transform: uppercase;
     font-weight: 900;
}

@-webkit-keyframes anime {
    0%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:600;
        opacity:1;
        color:#fff;
    }
    48%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:500;
        opacity:0;
        color:#fff;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:500;
        opacity:1;
        color:transparent
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:600;
        opacity:0;
       color:transparent
    }
}

@keyframes anime {
    0%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:600;
        opacity:1;
        color:#fff;
    }
    48%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:500;
        opacity:0;
        color:#fff;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:500;
        opacity:1;
        color:transparent
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:600;
        opacity:0;
       color:transparent
    }
}
#main{
    position: relative;
     background: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #171616;
}

#page1 #nav{
    padding:2.3vw 5.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#nav-part2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap:3vw;
}

#nav-part2 h4{
    font-size:0.8vw;
    font-weight:500;
}
.hero{
    width: 72%;
    margin-left: 27%;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    overflow:hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position:relative;
    z-index:99999;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom:0.5vw solid #fff;
    padding-bottom:0.8vw;
    translate:all ease 0.3s;
}

.hero h2:hover{
    -webkit-text-stroke:2px #fff;
    color:transparent;
    font-weight: 500;
    border-bottom:0.5vw solid #ffffff00;

}
#page2{
    height: 100vh;
    width: 100%;
    padding: 17vh;
    position: relative;
    margin-bottom:20vh;
}
#video-container{
    height: 66vh;
    width: 69vw;
    position: relative;
    left:26%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg")
}

#video-container img{
    position:absolute;
    height: 100%;
    width: 100%;
    -o-object-fit:cover;
       object-fit:cover;
    top:0;
    opacity:1;
}

#video-container video{
height: 100%;
width: 100%;
-o-object-fit: cover;
   object-fit: cover;
opacity: 0;
}
#video-cursor{
    background-color: #FFA63D;
    height: 8.5vw;
    width: 8vw;
    border-radius: 50%;
    position:absolute;
    top:-10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left:80%;
    z-index:999;
}
#video-cursor i{
  font-size:2vw;
}

#page3{
    min-height:100vh;
    width: 100%;
    background-color: #171616;
    position: relative;
    padding:10vh 2vw;
    margin-bottom:30vh;
}
#page3 h1{
    font-size:7vw;
    text-transform: uppercase;
    position: relative;
    margin-left:28vw;
}
#page3 h1::before{
    content: "02";
    position: absolute;
    top: 8%;
    left: -12%;
    font-size:3vw;
    font-weight: 100;
    font-family:'silk serif';
}
#page3 .underline{
    margin-left: 28vw;
}
#image-div-container{
    padding: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    position: relative;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
}
.image-div{
    height: 38vw;
    margin:2vw;
    position:relative;
    overflow:hidden;
    width: 27vw;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}
.image-div img{
    height: 100%;
    width: 100%;
    margin:10vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
.image-div:nth-child(1){
    height:29vw;
    width: 24vw;
}
.page3-circle1{
    height: 23vw;
    width: 23vw;
 border:2px solid #fff;
 border-radius: 50%;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 margin-left: 12vw;
 margin-top: 23vh;
 position: relative;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 
}
.page3-circle2{
    height: 23vw;
    width: 23vw;
 border:2px solid #fff;
 border-radius: 50%;
 position: relative;
 display:-webkit-box;
 display:-ms-flexbox;
 display:flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 
}
.page3-circle1 svg{
    height: 30%;
}
.page3-circle2 svg{
    height: 30%;
    rotate:-45deg;
}
.circle-in{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    scale:0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
-webkit-transition-delay: 0.3s;
     -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.circle-in p{
    font-size: 0.95vw;
    color: #000;
    font-weight: 500;
    scale:0;
width: 60%;
-webkit-transition: all ease 0.3s;
-o-transition: all ease 0.3s;
transition: all ease 0.3s;
-webkit-transition-delay: 0.6s;
     -o-transition-delay: 0.6s;
        transition-delay: 0.6s;
opacity: 0;
}
.page3-circle1:hover .circle-in{
    scale:1;
}
.page3-circle1:hover p{
    scale:1;
    opacity: 1;
}
.page3-circle2:hover .circle-in{
    scale:1;
}
.page3-circle2:hover p{
    scale:1;
    opacity:1;
}
#page4{
    min-height:100vh;
    width: 100%;
    /* background-color: rgb(81, 81, 81); */
    position: relative;
    padding:7vh 0;
}
#page4-content{
    width:72vw;
    position:relative;
    margin-left:28%;

}
#page4-content h1{
    font-size:7vw;
    text-transform: uppercase;
    position: relative;
}
#page4-content h1::before{
    content: "03";
    position: absolute;
    top: 8%;
    left: -12%;
    font-size:3vw;
    font-weight: 100;
    font-family:'silk serif';
}
#page4-content .underline{
    width:100%;
    height: 0.1vw;
    background-color: #FFF;
    margin:5vw 0;
}
#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom:3vw;
}

#page4-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#page4-flex img{
    width: 48%;
}
#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}
#page4-div{
    background-color: #3f7df4;
    width: 30vw;
    padding: 4vw 2vw;
    position:relative;
    margin-top: -35vh;
    margin-left:26vw;
}
.blue-div-elem{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5vw 0;
 border-bottom:2px solid rgba(255, 255, 255, 0.523);
}
.blue-div-elem h4{
   font-size:1.4vw;
   font-weight: 500;
}
.blue-div-elem p{
    width: 40%;
    font-size:0.7;
}
#page5{
    min-height:100vh;
    width:100%;
    position:relative;
}
.elem{
    white-space:nowrap;
    overflow-x:hidden;
    margin-bottom: -2vw;
}
.elem h1 {
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    -webkit-animation-name: animation;
            animation-name: animation;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes animation {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

@keyframes animation {
    from {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        -webkit-transform: translateX(calc(-100% - 20px));
                transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    white-space:nowrap;
    overflow-x:hidden;
    margin-bottom: -2vw;
}
.elem2 h1{
   font-size:7vw;
   -webkit-text-stroke:1px #fff;
   font-weight:400;
   text-transform: uppercase;
   color:transparent;
   display:inline-block;
   -webkit-transform:translateX(calc(-100% - 20px));
       -ms-transform:translateX(calc(-100% - 20px));
           transform:translateX(calc(-100% - 20px));
   -webkit-animation-name: animation;
           animation-name: animation;
   -webkit-animation-duration: 12s;
           animation-duration: 12s;
   -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
  -webkit-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  animation-direction: reverse;
}
.elem span{
    font-style: italic;
    font-family:"silk serif";
    color:transparent;
}
.elem2 span{
    font-style: italic;
    font-family:"silk serif";
    color:transparent;
}
#footer{
    height: 80vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
}
#footer  h1{
  font-size:8vw;
  width: 60vw;

}
.underline{
    height: 2px;
    width: 100%;
    margin: 2vw 0;
    background: #fff;
}
#footer-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align:start;
    -ms-flex-align:start;
        align-items:flex-start;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;

padding-right: 15vw;
padding-top: 4vw;
}
#footer-div h6{
    font-size: 0.9vw;
    margin-bottom:1.5vw;
}
.box{
    width: 20%;
}
#footer-div h5{
    font-size: 1.5vw;
    font-weight: 500;
    margin:0.2vh 0;
}
#footer>h5{
font-weight: 500;
 font-size: 1vw;
}

._canvas_container{
z-index:999999 !important;
pointer-events: none;
}

#flag{
    height: 25vw;
    position: absolute;
 top:0;
 left:0;
 -webkit-transform:translate(-50%,-50%);
     -ms-transform:translate(-50%,-50%);
         transform:translate(-50%,-50%);
 opacity:0;
}
#hero3{
     z-index:999;
     position:relative;
}

@media(max-width:600px){
    html,body{
        overflow-x:hidden;
        background: #171616;
    }
    #page1{
        height: 60vh;
        width: 100%;
        background: #171616;
        padding-top:1px;
    }
    
    #page1 #nav{
        padding:4.5vw 5.5vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        position:fixed;
        width:100%;
        top:0;
    }
    #nav-part2{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap:3vw;
        display:none;
    }
    #nav svg{
        scale:0.8;
    }
    #nav-part2 h4{
        font-size:0.8vw;
        font-weight:500;
    }
    .hero{
        width: 72%;
        margin-left: 5%;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        overflow:hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position:relative;
        z-index:99999;
    }
    .hero:nth-child(2){
        margin-top: 25vh;
    }
    .hero h1{
        font-size: 9.8vw;
        font-weight: 550;
        text-transform: uppercase;
        line-height: 10vw;
    }
    .hero h2{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10vw;
        border-bottom:0.5vw solid #fff;
        padding-bottom:0.8vw;
        translate:all ease 0.3s;
    }
    #page2{
        height: 58vh;
        width: 121%;
        background:#171616;
        margin-bottom: 0vh;
        padding-top: 7vh;
        position: relative;
    }
    #video-container{
        height: 56vh;
        width: 100vw;
        left:-77%;
        position: relative;
        background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
        background-size: cover;
        background-position:center;
    }
    #video-container img{
        position:absolute;
        height: 100%;
        width: 100%;
        -o-object-fit:cover;
           object-fit:cover;
        top:0;
        opacity:1;
    }
    
    #video-container video{
        height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    }
    #video-cursor{
        background-color: #FFA63D;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
        position:absolute;
        top:40%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        left:40%;
        z-index:999;
    }
    #video-cursor i{
      font-size:5vw;
    }
    #page3{
        min-height:100vh;
        width: 100%;
        margin-top:0vh;
        margin-bottom: 0vh;
        background-color: #171616;
        position: relative;
    }
    #page3 h1{
        font-size:10vw;
        text-transform: uppercase;
        position: relative;
        margin-left:20vw;
    }
    #page3 h1::before{
        content: "02";
        position: absolute;
        top: 8px;
        left: -17%;
        font-size: 6vw;
        font-weight: 100;
        font-family:'silk serif';
    }
    #page3 .underline{
        margin-left: 2vw;
        width:94%;
    }
    #image-div-container{
        padding: 1vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align:start;
            -ms-flex-align:start;
                align-items:flex-start;
        -webkit-box-pack:start;
            -ms-flex-pack:start;
                justify-content:flex-start;
        margin-left: -1%;
        position: relative;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* flex-wrap:wrap; */
        margin-top:10vw;
    }
    .image-div{
        height: 100vw;
        margin-bottom:8vw;
        position:relative;
        overflow:hidden;
        width: 92vw;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    }
    .image-div img{
        height: 100%;
        width: 100%;
        margin:10vw;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
    .image-div:nth-child(1){
        height:90vw;
        width: 92vw;
    }
    .page3-circle1{
        height: 23vw;
        width: 23vw;
        border:2px solid #fff;
        border-radius: 50%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin-left: 12vw;
     margin-top: 23vh;
     position: relative;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     display: none;
     
    }
    .page3-circle2{
        height: 23vw;
        width: 23vw;
     border:2px solid #fff;
     border-radius: 50%;
     position: relative;
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     display: none;
     
    }
    .page3-circle1 svg{
        height: 30%;
    }
    .page3-circle2 svg{
        height: 30%;
        rotate:-45deg;
    }
    .circle-in{
        height: 100%;
        width: 100%;
        position: absolute;
        top:0;
        left:0;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        scale:0;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    -webkit-transition-delay: 0.3s;
         -o-transition-delay: 0.3s;
            transition-delay: 0.3s;
        border-radius: 50%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .circle-in p{
        font-size: 0.95vw;
        color: #000;
        font-weight: 500;
        scale:0;
    width: 60%;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transition-delay: 0.6s;
         -o-transition-delay: 0.6s;
            transition-delay: 0.6s;
    opacity: 0;
    }
    .page3-circle1:hover .circle-in{
        scale:1;
    }
    .page3-circle1:hover p{
        scale:1;
        opacity: 1;
    }
    .page3-circle2:hover .circle-in{
        scale:1;
    }
    .page3-circle2:hover p{
        scale:1;
        opacity:1;
    }
    #page4{
        min-height:100vh;
        width: 100%;
         background-color: #171616;
        position: relative;
        padding:10vh 5vw;
    }
    #page4-content{
        width:90vw;
        left:-29%;
        position:relative;
        margin-left:28%;
    
    }
    #page4-content h1{
        font-size:9.5vw;
        text-transform: uppercase;
        position: relative;
        margin-left: 12vw;
    }
    #page4-content h1::before{
        content: "03";
        position: absolute;
        top: 6px;
        left: -14%;
        font-size: 6vw;
        font-weight: 100;
        font-family:'silk serif';
    }
    #page4-content .underline{
        width:100%;
        height: 0.1vw;
        background-color: #FFF;
        margin:5vw 0 10vw 0;
    }
    #page4-content>p{
        font-size: 6.5vw;
        width: 100%;
        margin-bottom:3vw;
    }
    
    #page4-flex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    #page4-flex img{
        width: 100%;
        margin: 5vw 0 8vw 0;

    }
    #page4-flex p{
        font-size:4vw;
        width: 90%;
        margin-left: 0vw;
        margin-bottom: 5vw;
    }
    #page4-div{
        background-color: #3f7df4;
        width: 91vw;
        padding: 5vw;
        position:relative;
        padding-bottom: 8vw;
        margin-top: 0vh;
        margin-left:0vw;
    }
    .blue-div-elem{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 1.5vw 0;
     border-bottom:2px solid rgba(255, 255, 255, 0.523);
    }
    .blue-div-elem h4{
       font-size:4vw;
       font-weight: 600;
    }
    .blue-div-elem p{
        width: 50%;
        font-size:3.6vw;
    }
    #page4-content .underline:nth-last-child(1){
        margin:25vw 0 7vw 0;
    }
    #page5{
        min-height:60vh;
        width:100%;
        position:relative;
    }
    .elem{
        white-space:nowrap;
        overflow-x:hidden;
        margin-bottom: -2vw;
    }
    .elem h1 {
        font-size: 13vw;
        -webkit-text-stroke: 1px #fff;
        font-weight: 400;
        text-transform: uppercase;
        color: transparent;
        display: inline-block;
        margin-right: 16px;
        -webkit-animation-name: animation;
                animation-name: animation;
        -webkit-animation-duration: 22s;
                animation-duration: 22s;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
    }
    
    @-webkit-keyframes animation {
        from {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    
    @keyframes animation {
        from {
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(calc(-100% - 20px));
                    transform: translateX(calc(-100% - 20px));
        }
    }
    
    .elem2{
        white-space:nowrap;
        overflow-x:hidden;
        margin-bottom: -2vw;
    }
    .elem2 h1{
       font-size:13vw;
       -webkit-text-stroke:1px #fff;
       font-weight:400;
       text-transform: uppercase;
       color:transparent;
       display:inline-block;
       -webkit-transform:translateX(calc(-100% - 20px));
           -ms-transform:translateX(calc(-100% - 20px));
               transform:translateX(calc(-100% - 20px));
       -webkit-animation-name: animation;
               animation-name: animation;
       -webkit-animation-duration: 26s;
               animation-duration: 26s;
       -webkit-animation-timing-function: linear;
               animation-timing-function: linear;
      -webkit-animation-iteration-count:infinite;
              animation-iteration-count:infinite;
      animation-direction: reverse;
    }
    .elem span{
        font-style: italic;
        font-family:"silk serif";
        color:transparent;
    }
    .elem2 span{
        font-style: italic;
        font-family:"silk serif";
        color:transparent;
    }
    #footer{
        height: 110vh;
        width: 100%;
        position: relative;
        padding-left: 5vw;
        padding-right: 5vw;
        /* padding-bottom: 5vw; */
    }
    #footer  h1{
      font-size:10vw;
      width: 60vw;
      
    }
    .underline{
        height: 2px;
        width: 100%;
        margin: 8vw 0;
        background: #fff;
    }
    #footer-div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
    padding-right: 15vw;
    padding-top: 4vw;
    }
    #footer-div h6{
        font-size: 6vw;
        margin-bottom:2.5vw;
        font-weight: 600;
    }
    .box{
        width: 30%;
        margin-bottom: 5vw;
    }
    #footer-div h5{
        font-size: 4vw;
        margin-bottom:1.5vw;
        font-weight: 500;
        margin:0.2vh 0;
    }
    #footer>h5{
    font-weight: 600;
    /* margin-bottom: 5vw; */
     font-size: 5vw;
    }
}