*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family:'plain light';
     color:#fff;
}
body,html{
         height: 100%;
         width: 100%;
}
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius:50%;
    border:1px solid rgba(255, 255, 255, 0.795);
    position:fixed;
    z-index:999;
    mix-blend-mode:difference;
    transform: translate(-50%,-50%);
}
#loader{
    height: 100%;
    line-height: 8vw;
    width: 100%;position:fixed;
    z-index:999;
    background-color: #0B0B0B;
    padding:25vh 10vw;
}
.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height:fit-content;
    overflow: hidden;
    gap:3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:1vw;  
}
.line h2{
    font-size:5.2vw;
    font-weight: 900;
    opacity:0;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

#line1-part1 h5,#line1-part1 h6{
    font-size:3vw;
    font-weight: 100;
    font-family:"silk serif";
}
#line1-part1 h5{
    align-items: right;
    width: 5vw;
}

.line h1{
     font-size:5vw;
     text-transform: uppercase;
     font-weight: 900;
}

@keyframes anime {
    0%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:600;
        opacity:1;
        color:#fff;
    }
    48%{
        font-family:"plain light";
        -webkit-text-stroke:01px #fff;
        font-weight:500;
        opacity:0;
        color:#fff;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:500;
        opacity:1;
        color:transparent
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke:1px #fff;
        font-weight:600;
        opacity:0;
       color:transparent
    }
}
#main{
    position: relative;
     background: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background: #171616;
}

#page1 #nav{
    padding:2.3vw 5.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:3vw;
}

#nav-part2 h4{
    font-size:0.8vw;
    font-weight:500;
}
.hero{
    width: 72%;
    margin-left: 27%;
    height:fit-content;
    overflow:hidden;
    display: flex;
    align-items: center;
    position:relative;
    z-index:99999;
}
.hero:nth-child(2){
    margin-top: 18vh;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}
.hero h2, .hero h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.hero h2:hover{
    -webkit-text-stroke:2px #fff;
    color:transparent;
    font-weight: 500;
}